.skills {
  display: grid;
  grid-template-areas:
    "box1 box2 box3"
    "box1 box4 box4";
  gap: 18px;
  grid-template-rows: auto;
  margin-bottom: 252px;
}

.titleSkill {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #000000;
}
